@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  color: #230A02;
  transition: 0.4s;
}

h1 {
  font-family: Inter;
}

body {
  background: #F9EDEA;
  overflow-x: hidden;
}

.menu {
  z-index: 1;
  display: flex;
  position: fixed;
  gap: 0.8rem;
  bottom: 1rem;
  width: 450px;
  right: 50%;
  margin-right: -225px;
  background: rgba(229, 207, 199, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 0.6rem;
  font-weight: 500;
  border-radius: 0.6rem;
}
.menu span {
  text-align: center;
  border: 1px solid rgba(35, 10, 2, 0.2);
  border-radius: 0.34rem;
  padding: 0.6rem;
  flex-grow: 1;
  cursor: pointer;
}
.menu span:hover {
  border: 1px solid #230A02;
}

nav {
  display: flex;
  align-items: center;
  margin: 1.2rem 1.6rem;
}
nav .profil {
  height: 38px;
  border-radius: 999px;
  filter: grayscale(100%);
  cursor: pointer;
}
nav .profil:hover {
  filter: grayscale(0%);
}
nav .logo {
  height: 32px;
}
nav .logo:hover {
  transform: scale(1.15);
  filter: brightness(0);
}

.searchbar {
  transform: scale(0.98);
  display: flex;
  align-items: center;
  height: 46px;
  border: none;
  background: #E5CFC7;
  border-radius: 0.6rem;
  width: 100%;
  margin: 0rem 1.4rem;
  padding: 0rem 1.4rem;
}
.searchbar:hover {
  transform: scale(1);
}
.searchbar img {
  height: 18px;
  cursor: pointer;
}
.searchbar img:hover {
  transform: scale(1.2);
}
.searchbar input {
  padding: 0rem 1.4rem;
  border: none;
  width: 100%;
  height: 46px;
  background: none;
}
.searchbar input::-moz-placeholder {
  color: rgba(35, 10, 2, 0.4);
}
.searchbar input::placeholder {
  color: rgba(35, 10, 2, 0.4);
}
.searchbar input:focus {
  outline: none;
  border: none;
}

header {
  margin: 2rem 0rem;
}
header div {
  text-align: center;
  font-family: Inter;
  font-size: 8vw;
  letter-spacing: 0.8vw;
  font-weight: 900;
}
header .marquee {
  margin-top: 1.4rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
header .marquee span {
  font-family: Inter;
  font-size: 2.3vw;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.2rem;
  animation: marquee 14s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.bentobox {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw 7vw;
}

.bibox {
  display: flex;
  gap: 10px;
}
.bibox .box1, .bibox .box2 {
  border-radius: 1.2rem;
  background: green;
  height: 40vw;
  flex-grow: 1;
  transform: scale(0.935);
  cursor: pointer;
}
.bibox .box1:hover, .bibox .box2:hover {
  transform: scale(1);
}
.bibox .box1 .box-in, .bibox .box2 .box-in {
  position: relative;
}
.bibox .box1 .box-in h1, .bibox .box2 .box-in h1 {
  font-size: calc(0.4rem + 3.6vw);
  padding-left: calc(0.6rem + 3vw);
  padding-top: calc(0.6rem + 3vw);
  color: #F9EDEA;
}
.bibox .box1 .box-in .text, .bibox .box2 .box-in .text {
  font-size: calc(0.5rem + 0.6vw);
  font-weight: 500;
  padding-left: calc(0.6rem + 3vw);
  padding-top: 1vw;
  width: 36vw;
  color: #F9EDEA;
  line-height: calc(0.6rem + 1.2vw);
}
.bibox .box1::before {
  content: "";
  position: absolute;
  border-radius: 1.4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../IMG/equipement.jpg);
  background-size: cover;
  filter: grayscale(0%) brightness(0.4) contrast(1.2);
}
.bibox .box2::before {
  content: "";
  position: absolute;
  border-radius: 1.4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../IMG/soleil.jpg);
  background-size: cover;
  filter: grayscale(0%) brightness(0.4) contrast(1.2);
}

.parcours {
  height: calc(280px + 14vw);
  cursor: pointer;
  transform: scale(0.97);
}
.parcours::before {
  content: "";
  position: absolute;
  border-radius: 1.4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../IMG/vallee-de-la-lune-los-flamencos-chili-260893-1440x670.jpg);
  background-size: cover;
  filter: grayscale(0%) brightness(0.4) contrast(1.2);
}
.parcours:hover {
  transform: scale(1);
}
.parcours .box-in {
  position: relative;
}
.parcours .box-in h1 {
  font-size: calc(2rem + 0.6vw);
  padding-top: calc(1.6rem + 2vw);
  padding-left: calc(1.6rem + 4vw);
  color: #F9EDEA;
  text-transform: uppercase;
}
.parcours .box-in img {
  height: calc(120px + 14vw);
  float: right;
  padding-right: calc(1.8rem + 5vw);
  padding-bottom: calc(0.2rem + 2vw);
}

.conteneurtimeline {
  background: green;
  height: calc(120px + 8vw);
  overflow: auto;
  border-radius: 1.4rem;
  transform: scale(0.97);
}
.conteneurtimeline:hover {
  transform: scale(1);
}
.conteneurtimeline::-webkit-scrollbar {
  height: 0px;
}

.timeline {
  width: calc((160px + 10vw) * 6);
  height: 100%;
  cursor: pointer;
  background: #230A02;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
}
.timeline .jour {
  width: calc(160px + 10vw);
  background: rgba(249, 237, 234, 0.2);
  height: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.timeline .jour .para {
  padding: 0 1rem;
  text-align: center;
  font-size: calc(0.5rem + 0.6vw);
}
.timeline .jour .dec {
  font-size: 0.9rem;
}
.timeline .jour span {
  font-size: calc(1rem + 1vw);
  font-weight: 800;
  color: #F9EDEA;
}
.timeline .jour div {
  font-size: 1rem;
  font-weight: 500;
  color: #F9EDEA;
}
.timeline .jour .dessin {
  overflow: hidden;
  padding: 1rem 0;
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .jour .dessin .barre {
  position: absolute;
  height: 4px;
  background: #F9EDEA;
  width: 100%;
}
.timeline .jour .dessin .point {
  background: #F9EDEA;
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 999px;
}

.tribox {
  display: flex;
  gap: 10px;
}
.tribox .box1, .tribox .box2, .tribox .box3 {
  border-radius: 1.2rem;
  background: #E5CFC7;
  transform: scale(0.935);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}
.tribox .box1:hover, .tribox .box2:hover, .tribox .box3:hover {
  transform: scale(1);
}
.tribox .box1 .prof, .tribox .box2 .prof, .tribox .box3 .prof {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.tribox .box1 .prof img, .tribox .box2 .prof img, .tribox .box3 .prof img {
  height: calc(40px + 3vw);
  border-radius: 999px;
}
.tribox .box1 .prof div, .tribox .box2 .prof div, .tribox .box3 .prof div {
  display: flex;
  flex-direction: column;
}
.tribox .box1 .prof div .titre, .tribox .box2 .prof div .titre, .tribox .box3 .prof div .titre {
  font-weight: 600;
  opacity: 0.7;
  letter-spacing: 0.1vw;
  font-size: calc(0.5rem + 0.4vw);
}
.tribox .box1 .prof div span, .tribox .box2 .prof div span, .tribox .box3 .prof div span {
  font-weight: 800;
  letter-spacing: 0.3vw;
  font-size: calc(1.2rem + 0.8vw);
}
.tribox .box1 .publi, .tribox .box2 .publi, .tribox .box3 .publi {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
.tribox .box1 .publi .text, .tribox .box2 .publi .text, .tribox .box3 .publi .text {
  max-width: 340px;
  font-size: calc(0.6rem + 0.5vw);
}
.tribox .box1 .publi img, .tribox .box2 .publi img, .tribox .box3 .publi img {
  width: calc(80px + 10vw);
  height: calc(80px + 3vw);
  border-radius: 0.7rem;
}

.cta {
  background: #230A02;
  color: #F9EDEA;
  padding: 0.8rem 1.2rem;
  margin: auto;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}
.cta:hover {
  transform: scale(1.1);
}

.contact {
  margin-bottom: 1rem;
  cursor: pointer;
  transform: scale(0.97);
  background: #E5CFC7;
  border-radius: 1.4rem;
  padding: 1.4rem;
  display: flex;
  gap: 1.4rem;
}
.contact .droite {
  flex-grow: 1;
  width: 50%;
}
.contact .droite textarea {
  width: 100%;
  height: 100%;
}
.contact .gauche {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1.2rem;
}
.contact .gauche span {
  font-size: 0.8rem;
}
.contact textarea, .contact input {
  background: #F9EDEA;
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 0.6rem;
}
.contact:hover {
  transform: scale(1);
}

.carousel {
  margin-top: 1rem;
  padding: 1.6rem 0;
}
.carousel img {
  width: 100%;
  margin: 2rem 0;
}
.carousel h2 {
  font-size: calc(1rem + 2vw);
  font-weight: 900;
}

.fin {
  background: rgba(35, 10, 2, 0.9);
  height: 18px;
  position: relative;
  z-index: 2;
}

footer {
  position: relative;
  z-index: 2;
  background: rgba(35, 10, 2, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #F9EDEA;
  text-align: center;
  padding-bottom: 1rem;
}
footer .liens {
  margin: 0 4vw;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  font-size: 0.6rem;
}
footer .liens span {
  color: #F9EDEA;
  cursor: pointer;
}
footer .liens span:hover {
  transform: scale(1.1);
  letter-spacing: 0.04rem;
}
footer .reseaux {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
footer .reseaux i {
  font-size: 1.4rem;
  color: #F9EDEA;
  cursor: pointer;
}
footer .reseaux i:hover {
  transform: scale(1.3);
  color: white;
  text-shadow: 0 0 4px white;
}
footer h2 {
  color: #F9EDEA;
  letter-spacing: 1vw;
  padding: 3rem;
  font-weight: 900;
}

@media (width < 1000px) {
  .tribox {
    flex-wrap: wrap;
  }
}
@media (width < 600px) {
  .contact {
    flex-wrap: wrap;
  }
  .menu {
    z-index: 3;
    bottom: 0px;
    width: 100vw;
    right: 50%;
    margin-right: -50vw;
    border-radius: 0;
  }
  .menu span {
    padding: 0.4rem;
  }
  .fin {
    height: 40px;
  }
}/*# sourceMappingURL=index.css.map */